.database-card-form {
  margin-bottom: 16px;
  .mat-card-header {
    .mat-card-header-text {
      margin-left: 0;
      .mat-card-title {
        margin-bottom: 0;
      }
    }
  }
  .mat-card-content {
    margin-bottom: 0;
  }
  .mat-form-field-wrapper:last-child {
    padding-bottom: 0;
  }
}
.field-input-one-row {
  button {
    margin-top: 4px;
    margin-left: 8px;
  }
}
