<div class="dialog-content-wrapper dialog-form-container">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{
        'PROFILES.FORM.TITLE_' + (action | uppercase) | translate
      }}</span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-12 pb-0 m-0" fusePerfectScrollbar>
    <form [formGroup]="form" fxLayout="column">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'PROFILES.FORM.NAME' | translate }}</mat-label>
            <input type="text" formControlName="name" matInput required />
          </mat-form-field>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="start start"
          class="field-input-one-row"
        >
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{ 'PROFILES.FORM.GAME_FOLDER' | translate }}</mat-label>
            <input
              type="text"
              formControlName="game_folder"
              matInput
              required
            />
          </mat-form-field>
          <button mat-raised-button type="button" (click)="chooseFolder()">
            {{ 'ACTIONS.CHOOSE_FOLDER' | translate }}
          </button>
        </div>

        <div
          class="form-checkbox-row"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <mat-checkbox formControlName="selected">{{
            'PROFILES.FORM.SELECTED' | translate
          }}</mat-checkbox>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card
          fxFlex="0 1 calc(50% - 8px)"
          class="database-card-form"
          formArrayName="databases"
          *ngFor="let item of form.get('databases')?.controls; let i = index"
        >
          <mat-card-header>
            <mat-card-title>{{
              'PROFILES.DATABASE.TYPE.' + (dataBase[i] | uppercase) | translate
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content [formGroupName]="i">
            <input type="hidden" formControlName="type" />
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'PROFILES.FORM.HOST' | translate }}</mat-label>
                <input type="text" formControlName="host" matInput required />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'PROFILES.FORM.PORT' | translate }}</mat-label>
                <input type="text" formControlName="port" matInput />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'PROFILES.FORM.DATABASE' | translate
                }}</mat-label>
                <input
                  type="text"
                  formControlName="database"
                  matInput
                  required
                />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{ 'PROFILES.FORM.USER' | translate }}</mat-label>
                <input type="text" formControlName="user" matInput required />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'PROFILES.FORM.PASSWORD' | translate
                }}</mat-label>
                <input
                  type="password"
                  formControlName="password"
                  matInput
                  required
                />
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="testConnection(item)"
            >
              {{ 'PROFILES.TEST_CONNECTION' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </form>
  </div>

  <div
    mat-dialog-actions
    class="m-0 p-16"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <button
      *ngIf="action === FormType.new"
      mat-button
      class="save-button"
      (click)="matDialogRef.close(form)"
      [disabled]="form.invalid"
      [attr.aria-label]="'ACTIONS.SAVE' | translate"
    >
      {{ 'ACTIONS.ADD' | translate }}
    </button>

    <button
      *ngIf="action === FormType.edit"
      mat-button
      class="save-button"
      (click)="matDialogRef.close(form)"
      [disabled]="form.invalid"
      [attr.aria-label]="'ACTIONS.SAVE' | translate"
    >
      {{ 'ACTIONS.SAVE' | translate }}
    </button>
  </div>
</div>
