$icon-size: 18px;

.mat-tab-list {
  .mat-tab-labels {
    background-color: #c9ccd3;
    padding-top: 2px;
    .mat-tab-label {
      background-color: #dedfe0;
      border-radius: 10px 10px 0 0;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      z-index: 1;
      &.mat-tab-label-active {
        background-color: #ffffff;
      }
    }
  }
  .mat-ink-bar {
    z-index: 1;
  }
}
.tab-close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
  line-height: $icon-size;
  height: $icon-size;
  width: $icon-size;
  min-height: $icon-size;
  min-width: $icon-size;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.37);
  &:hover {
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
  }
}
