:host {
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  z-index: 998;
}

.table-config-btn {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 0;
  opacity: 0.9;
  cursor: pointer;
  text-align: center;
  pointer-events: auto;
}

.table-config-sidebar {
  width: 360px;
  min-width: 360px;
  max-width: 360px;
  min-height: 500px;
  padding: 1rem 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }
  .group {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 1rem;
    position: relative;
    .group-title {
      position: absolute;
      top: -30px;
      z-index: 1000;
      background-color: #fafafa;
    }
  }
}
