.content {
  max-width: 1200px;

  .icon-holder {
    width: 112px;
    height: 120px;
    cursor: pointer;

    img {
      max-width: 112px;
      max-height: 112px;
    }

    .icon-name {
      font-size: 12px;
      word-wrap: break-word;
      width: 100px;
      text-align: center;
    }

    .icon-holder__image {
      padding: 5px;

      &.icon-holder__selected {
        border: 3px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
      }
    }
  }

  .content {
    height: calc(100vh - 61px - 68px - 20px);
  }

  .files-container {
    height: calc(100vh - 135px - 68px - 20px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
