<mat-toolbar class="p-0 mat-elevation-z1">
  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && !rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>
      <div
        class="toolbar-separator"
        *ngIf="!hiddenNavbar && !rightNavbar"
        fxHide.gt-md
      ></div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
        <div class="logo ml-16">logo</div>
      </div>
    </div>

    <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <button mat-button [matMenuTriggerFor]="profilesMenu" class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mr-12" fxShow.gt-sm>{{
            profile ? profile.name : ("PROFILES.NOT_SELECTED" | translate)
          }}</span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #profilesMenu="matMenu">
        <button
          *ngIf="profiles.length >= 1"
          mat-menu-item
          [matMenuTriggerFor]="savedProfilesMenu"
          (click)="redirectToProfiles()"
        >
          <mat-icon>account_circle</mat-icon>
          <span>{{ "PROFILES.SAVED_PROFILES" | translate }}</span>
        </button>
        <button
          *ngIf="profiles.length == 0"
          mat-menu-item
          (click)="redirectToProfiles()"
        >
          <mat-icon>account_circle</mat-icon>
          <span>{{ "PROFILES.SAVED_PROFILES" | translate }}</span>
        </button>
      </mat-menu>

      <mat-menu #savedProfilesMenu="matMenu">
        <button
          *ngFor="let profile of profiles"
          mat-menu-item
          (click)="selectProfile(profile.id)"
        >
          {{ profile.name }}
        </button>
      </mat-menu>

      <div class="toolbar-separator"></div>
      <button
        mat-button
        fxHide
        fxShow.gt-xs
        class="language-button"
        *ngIf="selectedLanguage"
        [matMenuTriggerFor]="languageMenu"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <img
            *ngIf="false"
            class="flag mr-8"
            [src]="'assets/icons/flags/' + selectedLanguage.flag + '.png'"
          />
          <span class="iso text-uppercase">{{ selectedLanguage.id }}</span>
        </div>
      </button>
      <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          *ngFor="let lang of languages"
          (click)="setLanguage(lang)"
        >
          <span fxLayout="row" fxLayoutAlign="start center">
            <img
              *ngIf="false"
              class="flag mr-16"
              [src]="'assets/icons/flags/' + lang.flag + '.png'"
            />
            <span class="iso">{{ lang.title }}</span>
          </span>
        </button>
      </mat-menu>
      <div
        class="toolbar-separator"
        *ngIf="!hiddenNavbar && rightNavbar"
        fxHide
        fxShow.gt-xs
      ></div>
      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
