// Import Fuse core library
@import '@fuse/scss/core';
@import '@fuse/scss/fuse';

// Import app.theme.scss
@import 'app/app.theme';

.header {
  .search-wrapper {
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    @include mat-elevation(1);
    .search {
      width: 100%;
      height: 48px;
      line-height: 48px;
      padding: 0 18px;
      input {
        width: 100%;
        height: 48px;
        min-height: 48px;
        max-height: 48px;
        padding: 0 16px;
        border: none;
        outline: none;
      }
    }
  }
}

.content {
  overflow: hidden;
  .sidebar {
    &:not(.locked-open) {
      background: white;
    }
  }
}

.container {
  .fab-add-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
      position: sticky;
      top: calc(100vh - 120px);
      bottom: auto;
    }

    .mat-button-wrapper {
      padding: 10px 0;
      line-height: 36px;
      .material-icons {
        font-size: 36px;
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

.confirm-dialog {
  width: 350px;
  @include media-breakpoint('xs') {
    width: 250px;
  }
}

.small-form-dialog,
.profile-form-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }
  @include media-breakpoint('gt-xs') {
    width: 800px;
  }
  .mat-dialog-container {
    padding: 0;
    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }
    .toolbar-bottom {
      height: auto;
    }
  }
  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
}
.small-form-dialog {
  @include media-breakpoint('gt-xs') {
    width: 480px;
  }
}

.dialog-form-container {
  .mat-form-field-wrapper {
    padding-bottom: 0.75em;
  }
  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 0.5em 0;
      border-top-width: 0.5em;
      .mat-form-field-label {
        font-size: 14px;
      }
      .mat-input-element {
        font-size: 14px;
      }
    }
  }
  .form-checkbox-row {
    padding-bottom: 0.75em;
  }
}

.mat-form-field-appearance-outline {
  &.mat-form-field-can-float {
    &.mat-form-field-should-float {
      .mat-form-field-label {
        transform: translateY(-1.3em) scale(0.75);
      }
    }
  }
}

.mat-dialog-actions {
  justify-content: space-around;
}

.flag {
  width: 16px;
}
